<nav [class.pb]="navExpanded" [class.squeeze]="!navExpanded">
  <span (click)="toggleSidebar(!navExpanded)" [ngClass]="{ open: navExpanded }" class="toggle-icon">
    <!-- TODO: You can put any icon here, below span is just temporary for demo purpose  -->
    <span style="color: var(--gray-400)"><</span>
  </span>

  <div class="logo-container" routerLink="/">
    <img alt="Logo" class="logo" src="images/placeholder.png" />
    <h4>Brand Title</h4>
  </div>

  <div class="navbar-menu-items" dir="auto">
    @for (item of sidebarItems; track item; let i = $index) {
      @if (shellService.allowedAccess(item)) {
        <div class="menu">
          @if (!item.divider) {
            <a (click)="activateSidebarItem(i)" [class.active]="item.active" [ngClass]="{ disabled: item.disabled }" class="menu-item" id="menu-item-{{ i }}">
              <div class="item">
                @if (item.icon) {
                  <!-- TODO This below i tag is temporary for demo purposes replace with proper icon passed in menu item -->
                  @if (item.active) {
                    <i style="color: var(--gray-400)">^</i>
                  } @else {
                    <i style="color: var(--sidebar-icon-color)">^</i>
                  }
                }
                <span>{{ item.title | translate }}</span>
              </div>
              @if (item.subItems && item.subItems.length) {
                <span [ngClass]="{ open: sidebarExtendedItem === i }" class="submenu-icon">
                  <!-- TODO This below i tag is temporary for demo purposes, use any up down arrow icon -->
                  @if (item.subItems && item.subItems.length && item.active) {
                    <!-- Active Icon -->
                    <i style="color: var(--gray-400)">^</i>
                  } @else if (item.subItems && item.subItems.length && !item.active) {
                    <!-- Inactive Icon -->
                    <i style="color: var(--sidebar-icon-color)">^</i>
                  }
                </span>
              }
            </a>
            @if (item.subItems && item.subItems.length) {
              <ul [style.display]="sidebarExtendedItem === i ? 'block' : 'none'" class="sub-menu-items">
                @for (subItem of item.subItems; track subItem) {
                  @if (shellService.allowedAccess(subItem)) {
                    <li [class.disabled]="subItem.disabled">
                      <a (click)="activateSidebarSubItem(i, subItem)" [ngClass]="{ disabled: subItem.disabled }" [routerLink]="subItem.href || undefined" routerLinkActive="active">
                        <!-- TODO This below i tag is temporary for demo purposes replace with proper icon passed in submenu item -->
                        @if (item.subItems && item.subItems.length && item.active) {
                          <!-- Active Icon -->
                          <i style="color: var(--gray-400)">^</i>
                        } @else if (item.subItems && item.subItems.length && !item.active) {
                          <!-- Inactive Icon -->
                          <i style="color: var(--sidebar-icon-color)">^</i>
                        }
                        <span>{{ subItem.title | translate }}</span>
                      </a>
                    </li>
                  }
                }
              </ul>
            }
          } @else {
            <span class="divider"></span>
          }
        </div>
      }
    }
  </div>
</nav>
