<nav class="top-nav">
  <div class="nav-container">
    <div class="logo-container" routerLink="/">
      <img alt="Logo" class="logo" src="images/default/hackason_logo.png" />
      <h4>Hackason</h4>
    </div>

    <div class="navbar-menu-items" dir="auto">
      <!-- Dynamic Menu -->
      <ng-container *ngFor="let item of navMenuItems; let i = index">
        <ng-container *ngIf="shellService.allowedAccess(item)">
          <ng-container *ngIf="!item.divider; else divider">
            <a (click)="activateNavMenuItem(i)" [class.active]="item.active" [ngClass]="{ disabled: item.disabled }" class="menu-item" id="menu-item-{{ i }}">
              <div class="item">
                <span>{{ item.title | translate }}</span>
              </div>
            </a>
            <ng-container *ngIf="item.subItems && item.subItems.length">
              <ul [style.display]="navMenuExtendedItem === i ? 'block' : 'none'" class="sub-menu-items">
                <ng-container *ngFor="let subItem of item.subItems">
                  <ng-container *ngIf="shellService.allowedAccess(subItem)">
                    <li [class.disabled]="subItem.disabled">
                      <a (click)="activateNavMenuSubItem(i, subItem)" [ngClass]="{ disabled: subItem.disabled }" [routerLink]="subItem.href || undefined" routerLinkActive="active">
                        <span>{{ subItem.title | translate }}</span>
                      </a>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>

      <div class="auth-box">
        <ng-container *ngIf="!credentialsService.isAuthenticated()">
          <a class="auth-item" routerLink="/login">Login</a>
          <a class="auth-item">/</a>
          <a class="auth-item" routerLink="/signup">Sign Up</a>
        </ng-container>

        <ng-container *ngIf="credentialsService.isAuthenticated()">
          <a class="auth-item" routerLink="/logout">Log Out</a>
        </ng-container>
      </div>
    </div>
  </div>
</nav>

<ng-template #divider>
  <span class="divider"></span>
</ng-template>
