<div class="login">
  <div class="login-box">
    <h2 translate>Login</h2>
    <form>
      <div class="input-field">
        <input required type="text" />
        <label translate>Username</label>
      </div>
      <div class="input-field">
        <input required type="password" />
        <label translate>Password</label>
      </div>
      <button (click)="login()" type="submit">{{ 'Login' | translate }}</button>
    </form>
  </div>
</div>

<div class="lang-selector">
  <app-language-selector [openAbove]="true"></app-language-selector>
</div>
