<nav>
  <p class="title" translate>Angular Boiler Plate V18</p>
  <app-language-selector></app-language-selector>
</nav>

<!-- Popover menu -->
<ng-template #menu let-hide>
  <!-- This menu-content is generic class can be override with custom style as well, adjust width value directly as per need -->
  <div class="popper-menu-content" style="width: 150px">
    <ul>
      <li (click)="hide()">
        <label translate>Profile</label>
      </li>
      <li (click)="hide()" routerLink="/logout">
        <label translate>Logout</label>
      </li>
    </ul>
  </div>
</ng-template>
