<div class="login-page">
  <div class="card">
    <h1 class="card-header">Login</h1>
    <div class="card-body">
      <form (ngSubmit)="processLogin()" [formGroup]="$LoginForm">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" formControlName="username" name="username" required>
          <small *ngIf="$LoginForm.controls['username'].dirty && $LoginForm.controls['username'].invalid"
                 class="invalid-feedback">
            Please enter valid username.
          </small>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input [formControlName]="'password'" type="password" id="password" name="password" required>
          <small *ngIf="$LoginForm.controls['password'].dirty && $LoginForm.controls['password'].invalid"
                 class="invalid-feedback">
            Please enter password.
          </small>
        </div>
        <div class="form-submit">
          <button type="submit">Login</button>
        </div>

        <p>
            Dont have account, <a routerLink="/register">Register</a>
        </p>
      </form>
    </div>
  </div>
</div>
