/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */
@use "@ngxpert/hot-toast/src/styles/styles.scss";

// Sanitize.css
@use "sanitize.css/sanitize.css";

// Theme variables
@use "theme/variables";

// Base and layout styles
@use "theme/base";
@use "theme/layout";

// 3rd party libraries
@use "bootstrap/scss/bootstrap-grid";

// Mixins
@use "theme/mixins";

// Overrides
@use "theme/overrides";

// Utilities
@use "theme/utilities";

// theme customization
@use "theme/theme";
